# Week 2 â€“ In-Class Assignment 1 (Demo)
## Data Preprocessing with the Titanic Dataset

This notebook demonstrates **basic data preprocessing steps** using the Titanic dataset.
It is a **simple in-class demo** to show how preprocessing works in practice.

## 1. Load Dataset

In [2]:
import pandas as pd

# Load Titanic dataset (train.csv must be in the same folder)
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 2. Select a Subset of Features

In [3]:
features = ['Pclass', 'Sex', 'Age', 'Fare', 'Embarked']
target = 'Survived'

X = df[features].copy()
y = df[target]

X.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  22.0   7.2500        S
1       1  female  38.0  71.2833        C
2       3  female  26.0   7.9250        S
3       1  female  35.0  53.1000        S
4       3    male  35.0   8.0500        S

## 3. Handling Missing Values

In [6]:
# Check missing values
X.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Embarked      2
dtype: int64

In [11]:
# Simple imputation
X['Age'] = X['Age'].fillna(X['Age'].median())
# fillna() is a pandas function used to replace missing values (NaN) in a dataset.
# df['Age'].fillna(30) // Every missing age becomes 30
X['Embarked'] = X['Embarked'].fillna(X['Embarked'].mode()[0])
#Takes the first most frequent value

X.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
dtype: int64

## 4. Detecting and Handling Outliers

In [20]:
from scipy.stats import zscore

# Z-score for Fare
fare_z = zscore(X['Fare'])
outliers = X[abs(fare_z) > 3]
# X[condition] selects rows of a DataFrame that satisfy a given condition.
outliers[['Fare']].head()

         Fare
27   263.0000
88   263.0000
118  247.5208
258  512.3292
299  247.5208

In [21]:
# Remove extreme outliers
X = X[abs(fare_z) <= 3]
X.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  22.0   7.2500        S
1       1  female  38.0  71.2833        C
2       3  female  26.0   7.9250        S
3       1  female  35.0  53.1000        S
4       3    male  35.0   8.0500        S

## 5. Data Transformation (Encoding)

In [29]:
# One-hot encoding for categorical features
X_encoded = pd.get_dummies(X, columns=['Sex'], drop_first=False)
X_encoded.head()

   Pclass   Age     Fare Embarked  Sex_female  Sex_male
0       3  22.0   7.2500        S       False      True
1       1  38.0  71.2833        C        True     False
2       3  26.0   7.9250        S        True     False
3       1  35.0  53.1000        S        True     False
4       3  35.0   8.0500        S       False      True

In [30]:
pd.get_dummies(X, columns=['Embarked'], drop_first=False).head()

   Pclass     Sex   Age     Fare  Embarked_C  Embarked_Q  Embarked_S
0       3    male  22.0   7.2500       False       False        True
1       1  female  38.0  71.2833        True       False       False
2       3  female  26.0   7.9250       False       False        True
3       1  female  35.0  53.1000       False       False        True
4       3    male  35.0   8.0500       False       False        True

## 6. Feature Scaling

In [23]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler_std = StandardScaler()
scaler_mm = MinMaxScaler()

X_scaled_std = scaler_std.fit_transform(X_encoded)
X_scaled_mm = scaler_mm.fit_transform(X_encoded)

X_scaled_std[:5], X_scaled_mm[:5]

(array([[ 0.80549436, -0.56219092, -0.65725621,  0.72852983, -0.31141183,
          0.60432091],
        [-1.63056671,  0.6653998 ,  1.52562306, -1.37262739, -0.31141183,
         -1.65474996],
        [ 0.80549436, -0.25529324, -0.63424563, -1.37262739, -0.31141183,
          0.60432091],
        [-1.63056671,  0.43522654,  0.90575888, -1.37262739, -0.31141183,
          0.60432091],
        [ 0.80549436,  0.43522654, -0.62998441,  0.72852983, -0.31141183,
          0.60432091]]),
 array([[1.        , 0.27117366, 0.04397492, 1.        , 0.        ,
         1.        ],
        [0.        , 0.4722292 , 0.4323693 , 0.        , 0.        ,
         0.        ],
        [1.        , 0.32143755, 0.04806914, 0.        , 0.        ,
         1.        ],
        [0.        , 0.43453129, 0.32207838, 0.        , 0.        ,
         1.        ],
        [1.        , 0.43453129, 0.04882733, 1.        , 0.        ,
         1.        ]]))

## Summary
- Loaded a real-world dataset (Titanic)
- Handled missing values
- Detected and removed outliers
- Encoded categorical features
- Scaled numerical features

This prepares the data for machine learning models.